body {
    height: 100vh;
    background-color: #EEEEEE;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    border: 1rem solid #D3D3D3;
    background-color: #FFFFFF;
    height: 30rem;
    width: 30rem;
    border-radius: 90%;
}

.s {
    position: absolute;
    left: 50%;
    animation: sec 60s linear infinite;
    transform: rotateZ(90deg);
    border-left: 5px solid #FF0200;
    height: 150px;
    padding: 0;
    bottom: 50%;
}

.ms {
    position: relative;
    border-left: 6px solid #888888;
    height: 11vh;
    left: 48%;
    bottom: -55%;
    transform: rotateZ(45deg);
}

.dot {
    background-color: #888888;
    border-radius: 100%;
    width: 1rem;
    height: 1rem;
    position: relative;
    left: 49%;
    bottom: -15%;
}

@keyframes sec {
    from {
        transform: rotateZ(0deg);
        transform-origin: center bottom;
    }

    to {
        transform: rotateZ(360deg);
        transform-origin: center bottom;
    }
}